<template>
  <div class="header">
    <div class="header__logo">
      <img class="header__logo-img" src="../../assets/logo.svg" alt="Logo">
    </div>
    <div class="header__panel">
      <div class="header__accounts">
        <div class="header__accounts-logo">
          <img :src="user.image" alt="Logo" class="header__user-image">
        </div>
        <select class="header__accounts-select">
          <option :value="user.id">{{ user.userName }}</option>
        </select>
        <ad-button add>Добавить аккаунт</ad-button>
      </div>
      <div class="header__info">
        <p class="header__info-days">Осталось 3 дня</p>
        <ad-button class="header__info-button" type="primary">Улучшить план</ad-button>
        <router-link class="header__info-notification" :to="{ name: 'main' }">
          <img src="../../assets/icons/ring.svg" alt="Notification" class="header__info-notification-icon">
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ad-header',
    props: {
      user: {
        type: Object,
        required: true
      }
    }
  };
</script>

<style lang="scss" scoped>
@import '../../assets/_var.scss';

.header {
  width: 100%;
  border: 1px solid $pattens-blue;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 18% 1fr;
  align-items: center;
  &__logo {
    vertical-align: center;
    margin-left: 25px;
    &-img {
      width: 80px;
    }
  }
  &__panel {
    padding: 0 25px;
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__user-image {
    width: 35px;
    border-radius: 50%;
  }
  &__accounts {
    display: flex;
    align-items: center;
    &-select {
      margin: 0 25px 0 15px;
    }
  }
  &__info {
    display: flex;
    align-items: center;
    &-button {
      margin-left: 20px;
      margin-right: 25px;
    }
    &-days{
      color: $red;
      font:{
        size: $button-text-size;
        weight: 500;
      }
    }
    &-notification {
      &-icon {
        width: 22px;
        margin-top: 3px;
      }
    }
  }
}
</style>
