<template>
  <main class="substrate">
    <div id="app"><router-view /></div>
  </main>
</template>

<script>
import { FETCH_USER } from './vuex/types';

export default {


  name: 'App',
  created() {
    this.$store.dispatch(FETCH_USER, { id: 1342 })
  }
};
</script>

<style>
@import 'assets/_reset.scss';
@import 'assets/_var.scss';
@import 'assets/_fonts.scss';

.substrate {
  background: linear-gradient( to right bottom, #ffffff, #F1F7FD);
}

#app {
  font-family: 'Ubuntu', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100vh;
}
</style>
