<template>
    <button
      type="button"
      @click="handleClick"
      :class="`button ad-button__${type} ad-button__${size}`"
    ><span v-if="add" class="ad-button__plus">+</span><slot></slot></button>
</template>

<script>
  export default {
    name: 'ad-button',
    props: {
      type: {
        type: String,
        default: 'default',
        validator(value) {
          return ['default', 'primary'].indexOf(value) > -1
        }
      },
      size: {
        type: String,
        default: 'medium',
        validator(value) {
          return ['medium','lg'].indexOf(value) > -1
        }
      },
      add: {
        type: Boolean,
        default: false
      }
    },
    methods: {
      handleClick(evt) {
        this.$emit('click', evt);
      }
    }
  };
</script>

<style lang="scss" scoped>
@import '../../assets/_var.scss';

.button {
  display: flex;
  align-items: center;
  border-radius: 2px;
  border: 1px solid $second-blue;
  font: {
    family: 'Ubuntu', sans-serif;
    weight: 500;
  }
  transition: .2s;
  &:hover {
    transition: .2s;
  }
}

.ad-button {
  &__default {
    color: $second-blue;
    background-color: transparent;
    &:hover {
      background-color: $main-blue;
      color: $white;
    }
  }
  &__primary {
    color: #fff;
    background-color: $main-blue;
    &:hover {
      background-color: transparent;
      color: $second-blue;
    }
  }
  &__medium {
    padding: 6px 12px 8px 10px;
    font-size: $button-text-size;
  }
  &__plus {
    line-height: 0;
  }
  &__medium &__plus {
    font-size: calc(#{$button-text-size} + 10px);
    font-weight: 100;
    margin-right: 7px;
  }
  &__lg &__plus {

  }
}
</style>
